<app-header></app-header>
<div class="contenedor">
<div>
  <section class="hero is-medium is-light">
    <img src="https://images.squarespace-cdn.com/content/v1/55268597e4b096c58441c5ef/1590177336859-S8KK1647E7OZCJ78BOOR/ke17ZwdGBToddI8pDm48kCrpjmJlxu0NxsJ9GKCsnogUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dvDz6UmabSFEtDtv0kbLAw_asFw0V2wLxb_27zQ5g7o_W07ycm2Trb21kYhaLJjddA/About+me?format=1500w">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Sobre mí
        </h1>
        <h2 class="subtitle">
          Breve descripción.
        </h2>
      </div>
    </div>
  </section>
</div>

<div class="columns">
  <div class="column is-narrow" id="caja1">
    <div class="box" style="width: 200px;">
      <figure class="image">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGvs5LMapP1yA/profile-displayphoto-shrink_400_400/0/1603652037013?e=1614816000&v=beta&t=iVT7pIc-p_EpwsTMt_IkZc89vgTf4rGEwVDs7z3h_fQ" data-aos="fade-right"
        data-aos-duration="2000">
      </figure>
    </div>
  </div>
  <div class="column" id="caja2">
    <div class="box"
    data-aos="fade-left"
    data-aos-duration="2000">
      <p class="title is-5">¿Cómo me defino?</p>
      <p class="subtitle">Breu explicació.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sunt deserunt exercitationem atque blanditiis modi commodi sequi magnam quibusdam itaque eaque repellendus unde, ut necessitatibus nisi dicta accusantium impedit porro!
      </p>
    </div>
  </div>
</div>

<div class="padre">
  <div class="imagen is-fixed">
  </div>
</div>

<div class="tile is-ancestor" id="skills">
  <div class="tile is-parent">
    <article class="tile is-child notification is-white">
      <h1 class="title">Skills</h1>
      <p class="subtitle is-5">
        Lenguajes de programación.
      </p>
    </article>
  </div>
</div>

<div class="progreso" *ngFor="let skill of skills">
  <div class="text">
    <p>{{skill.name}}:</p>
  </div>
  <div class="barras">
    <progress
    class="progress is-success"
    value="{{skill.progress}}"
    max="100">60%</progress>
  </div>
</div>

</div>
<app-footer></app-footer>
