.contact{
  margin-top: 3em;
}
.contenido{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  .contenedor{
    width: 80%;
    margin: 6vh 0;
    form{
      padding: 2vh;
      button:disabled {
        cursor: not-allowed;
      }
      #boton{
        margin-top: 3vh;
      }
    }
  }
}


