<app-header></app-header>
<div class="intro">
  <section class="hero is-medium has-background-info-light">
    <img src="../../../assets/projects.jpg">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-spaced">
          Proyectos
        </h1>
        <h2 class="subtitle is-4">
          Realizados en el Bootcamp Front-End Developer
        </h2>
      </div>
    </div>
  </section>
</div>

<div class="cartes">
<a
href="{{project.link}}"
target="_blank"
*ngFor="let project of projects">
<div class="card">
<section
class="hero"
id="card">
  <div class="hero-body">
    <div class="proyectos">
      <figure class="image">
        <img
          src="{{project.image}}"
          class="is-rounded">
      </figure>
      <div class="descripcion">
      <h2 class="subtitle">
        {{project.title}}
      </h2>
        <p class="has-text-justified">{{project.description}}</p>
      </div>
    </div>
  </div>
</section>
</div>
</a>
</div>
<app-footer></app-footer>

