@media screen and (max-width: 1100px) {
.proyectos{
        figure{
          width: none;
          padding-right: 0vh;
          img{
            display: none;
          }
        }
  }
}
@media screen and (min-width: 1100px) {
  .proyectos{
    figure{
      padding-right: 2vh;
    }
}
}
////////////////// end media queries //////////////////

.intro{
  margin-top: 3em;
}
.cartes{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0;
  a{
  width: 90%;
.card:hover{
  opacity: 1;
  transform: scale(1.1);
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
  padding: 2vh;
  transition: all .5s linear;
  opacity: 0.6;
  #card{
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(53,53,207,0.835171568627451) 0%, rgba(0,212,255,1) 100%);
    .proyectos{
      display: flex;
      color: white;
      figure{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      img{
        width: 150px;
      }
    }
    .descripcion{
      width: 100%;
      .subtitle{
        color: white;
        font-weight: bold;
      }
    }
    }
  }
  }
}
}
