.contenedor{
  width: 100%;
  margin-top: 5vh;
  .container{
    .caja{
      display: flex;
      align-items: center;
      justify-content: center;
      .box {
        background-color: hsl(206, 70%, 96%);
        box-shadow: none;
        width: 50px;
        height: 50px;
  .icon{

  .fa-info-circle{
    font-size: 49px;
    background-color: hsl(206, 70%, 96%);
    position: absolute;
    transform: translate(-39%, -39%);
  }
  .fa-info-circle:hover{
    color: rgba(53,53,207,0.835171568627451);
  }
}
      }

      .box:hover {
        transform: rotate(360deg);
        background: white;
        border-radius: 50%;
      }
      .rotate {
        transition: all 0.5s ease-in-out;

      }
      .rotate:hover {
        transition: all 1s ease-in-out;
      }
    }
  }
  .padre{
    .imagen{
      background-size: 100%;
      height: 35vh;
      background-image: url("../../assets/code.jpg");
      margin: 3% 0 3% 0;
      background-attachment: fixed;
    }
  }
  .boton{
    text-align: center;
    button{
      color: white;
      font-weight: bold;
      background: rgb(2,0,36);
      background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(53,53,207,0.835171568627451) 0%, rgba(0,212,255,1) 100%);
    }
    button:hover{
      transform: scale(1.2);
    }
    button:active {
      background-color: rgba(0,212,255,1);
      box-shadow: 0 5px rgba(158, 158, 207, 0.835);
      transform: translateY(3px);
    }
  }
  #expectativas{
    margin-bottom: 1vh;
    padding: 2vh;
  }
}
.modal{
  opacity: 0.98;
}

